{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link type="text/css" href="{% static 'sport_kostukovka/css/main.css' %}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--[if lte IE 8]><script src="{% static 'sport_kostukovka/js/ie/html5shiv.js' %}"></script><![endif]-->
  <link rel="shortcut icon" href="{% static 'sport_kostukovka/images/main.ico' %}" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'sport_kostukovka/css/ie9.css' %}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'sport_kostukovka/css/ie8.css' %}" /><![endif]-->
</head>
<body>
  <!-- Wrapper -->
  <div id="wrapper">
    {% block mainmenu %}
      <header id="header">
        <h1><a href="{% url 'home' %}">Главная</a></h1>
        <nav class="links">
          <ul>
            <!--<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>-->
            {% for m in menu %}
              {% if not forloop.last %}
                <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
              {% else %}
                <li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
        <nav class="main">
          <ul>
            <li class="search">
              <a class="fa-search" href="#search">Поиск</a>
              <form id="search" method="get" action="#">
                <input type="text" name="query" placeholder="Поиск" />
              </form>
            </li>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>
    {% endblock mainmenu %}


    <div id="main">
      {% block content %}
      {% endblock %}
    </div>


    {% block sidebar %}
    <!-- Sidebar -->
      <section id="sidebar">

        <!-- Intro -->
        <section id="intro">
          <a href="{% url 'home' %}" class="logo"><img src="{% static 'sport_kostukovka/images/logo.jpg' %}" alt="" /></a>
          <header>
            <h2>Спорт-Костюковка</h2>
<!--            <p>Another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>-->
          </header>
        </section>

        <!-- Mini Posts -->
        <section>
          <div class="mini-posts">

            {% for n in news %}
            <!-- Mini Post -->
              <article class="mini-post">
                <header>
                  <h3><a href="{{n.get_absolute_url}}">{{n.title}}</a></h3>
                  <time class="published" datetime="{{n.time_update|date:'F d, Y'}}">{{n.time_update|date:"F d, Y"}}</time>
                  <a href="#" class="author"><img src="{% static 'sport_kostukovka/images/avatar.jpg' %}" alt="" /></a>
                </header>
                <a href="{{n.get_absolute_url}}" class="image"><img src="{{n.photo.url}}" alt="" /></a>
              </article>
            {% endfor %}

          </div>
        </section>

        <!-- Posts List -->
        <section>
          <ul class="posts">
            {% for n in news %}
              <li>
              <article>
                <header>
                  <h3><a href="{{n.get_absolute_url}}">{{n.title}}</a></h3>
                  <time class="published" datetime="{{n.time_update|date:'F d, Y'}}">{{n.time_update|date:"F d, Y"}}</time>
                </header>
                <a href="{{n.get_absolute_url}}" class="image"><img src="{{n.photo.url}}" alt="" /></a>
              </article>
            </li>
            {% endfor %}
          </ul>
        </section>

        <!-- About -->
        <section class="blurb">
          <h2>About</h2>
          <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
          <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
          </ul>
        </section>

        <!-- Footer -->
        <section id="footer">
          <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
        </section>

      </section>
    {% endblock sidebar %}
  </div>

  <!-- Scripts -->
    <script src="{% static 'sport_kostukovka/js/jquery.min.js' %}"></script>
    <script src="{% static 'sport_kostukovka/js/skel.min.js' %}"></script>
    <script src="{% static 'sport_kostukovka/js/util.js' %}"></script>
    <!--[if lte IE 8]><script src="{% static 'sport_kostukovka/js/ie/respond.min.js' %}"></script><![endif]-->
    <script src="{% static 'sport_kostukovka/js/main.js' %}"></script>
</body>
</html>