{% extends 'sport_kostukovka/base.html' %}
{% load static %}
{% load sport_kostukovka_tags %}

{% block content %}
  <ul>
    {% if cat_selected == 0 %}
      <li class="selected">Все категории</li>
    {% else %}
      <li><a href="{% url 'news' %}">Все категории</a></li>
    {% endif %}

    {% show_categories cat_selected=cat_selected %}

    <li><a href="{% url 'add_page' %}">Добавить статью</a>
  </ul>



  <!-- Post -->
  {% for n in posts %}
    <article class="post">
      <header>
        <div class="title">
          <h2><a href="{{n.get_absolute_url}}">{{n.title}}</a></h2>
          <p>Категория: {{n.cat.name}}</p>
        </div>
        <div class="meta">
          <time class="published" datetime="{{n.time_update|date:'F d, Y'}}">{{n.time_update|date:"F d, Y"}}</time>
          <a href="#" class="author"><span class="name">Jane Doe</span><img src="{% static 'sport_kostukovka/images/avatar.jpg' %}" alt="" /></a>
        </div>
      </header>


      {% if n.photo %}
        <a href="{{n.get_absolute_url}}" class="image featured"><img src="{{n.photo.url}}" alt="" /></a>
      {% endif %}


      {% autoescape on %}
        <p>{{n.content|linebreaks|truncatewords:50}}</p>
      {% endautoescape %}


      <footer>
        <ul class="actions">
          <li><a href="{{n.get_absolute_url}}" class="button big">Продолжить чтение</a></li>
        </ul>
        <ul class="stats">
          <li><a href="#">General</a></li>
          <li><a href="#" class="icon fa-heart">28</a></li>
          <li><a href="#" class="icon fa-comment">128</a></li>
        </ul>
      </footer>
    </article>
  {% endfor %}

  <!-- Pagination -->
    <ul class="actions pagination">
      <li><a href="" class="disabled button big previous">Previous Page</a></li>
      <li><a href="#" class="button big next">Next Page</a></li>
    </ul>
{% endblock %}